<div class="navbar">
    <div class="menu-icon" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1 class="site-title">
        <a href="index.html" class="site-title__link">
            BBB
        </a>
    </h1>
    <div class="login" onclick="window.location.href='login.html'">
        <svg viewBox="0 0 24 24">
            <circle cx="12" cy="8" r="4" />
            <path d="M4 20c0-4 4-6 8-6s8 2 8 6" />
        </svg>
        <p>Login</p>
    </div>
</div>