@using BBB.Data
<!DOCTYPE html>
<html lang="en">

<head>
    @* <meta charset="utf-8" /> *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BBB</title>

    <!-- Google's API for icons and fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/filters.css" asp-append-version="true">

</head>

<body>

    <!-- sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
        </div>
        <ul class="sidebar-links">
            <li><a href="/Home/Index">Home</a></li>
            @if (Context.Session.GetString("UserId") is string uid
                        && int.TryParse(uid, out var userId)
                        && userId > 0)
            {
                var db = Context.RequestServices.GetService<AppDbContext>();
                var role = db.Users.Where(u => u.Id == userId)
                .Select(u => u.Role.Name)
                .FirstOrDefault();

                if (role == "admin")
                {
                    <li><a href="/Admin/GameForm">Game Form</a></li>
                    <li><a href="/Admin/ApproveForm">Approve Form</a></li>
                    <li><a href="/Admin/ReturnForm">Return Form</a></li>
                }
                <li><a href="/Account">Account</a></li>
            }
        </ul>
    </div>

    <!--navigation bar-->
    <div class="navbar sidebar-response">
        <div class="menu-icon" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="site-title">
            <a href="/Home/Index" class="site-title__link">
                BBB
            </a>
        </h1>
        <div class="login">
            @if (string.IsNullOrEmpty(Context.Session.GetString("UserId")))
            {
                <p onclick="window.location.href='/Account/Login'">Log In</p>
            }
            else
            {
                var userName = Context.Session.GetString("Username") ?? "Member";

                <div class="user_navbar" onclick="window.location.href='/Account'">
                    <svg viewBox="0 0 24 24">
                        <circle cx="12" cy="8" r="4" />
                        <path d="M4 20c0-4 4-6 8-6s8 2 8 6" />
                    </svg>
                    <p class="username">Hi @userName!</p>
                </div>
                <p id="logoutBtn">Log Out</p>
            }
        </div>

    </div>


    <div class="sidebar-response">
        @RenderBody()
    </div>


    <!--footer-->
    <footer class="sidebar-response">
        <div class="footer-main-content">
            <section class="footer-left-column">
                <div class="club-info">
                    <h3>Boring Boardgames Bureau</h3>
                    <p>Boardgames club catalog & reservation</p>
                </div>

                <div class="contact-info">
                    <div class="contact-item">
                        <span class="material-symbols-outlined">mail</span>
                        <a href="mailto:BBB@sdu.com">Send Email</a>
                    </div>
                    <div class="contact-item">
                        <span class="material-symbols-outlined">location_on</span>
                        <p>University of Southern Denmark, Søndeborg</p>
                    </div>
                </div>
                <div class="repo-info">
                    <a class="repo-link" href="https://github.com/Gaja-g/BBB">
                        <span class="material-symbols-outlined">group</span>
                        <p>Project repo / credits</p>
                    </a>
                </div>

            </section>
            <section class="footer-middle-column">
                <h4>Quick links</h4>
                <div class="quick-links-container">
                    <a href="/Home/Index">Home</a>
                    <a href="/Account">Account</a>
                    <a href="#">Library</a>
                    <a href="/Admin/GameForm">Game Form</a>
                </div>
                <div class="suggest-game-container">
                    <label for="suggest">Suggest a new board game</label>
                    <div class="suggest-input-container">
                        <input id="suggest" class="suggest-input" type="text" placeholder="Game title or idea" />
                        <button class="suggest-button">Send</button>
                    </div>
                </div>
            </section>
            <section class="footer-right-column">
                <h4>Policies & Info</h4>
                <div class="policies">
                    <a href="/Home/Privacy">Privacy & Security</a>
                    <a href="mailto:BBB@sdu.com">Email & Reservation Limits</a>
                </div>
                <div class="footer-tech-section">
                    <p>Powered by <bold>monopoly money</p>
                    @* <a href="#" aria-label="Discord"><img src="/Images/Discord-White-logo.png" alt="Discord logo"
                    height="12px" /></a> *@
                </div>
                <div class="credits-container">
                    <p>Credits: Group 20 - Web Technologies</p>
                    <p class="footer-credits-love">Made with <span class="material-symbols-outlined footer-heart">
                            favorite
                        </span> for board games.</p>
                </div>
            </section>
        </div>
        <section class="footer-bottom-bar">
            <p>© 2025 — All rights reserved</p>
            <img src="/Images/SDU_WHITE_LOGO.webp" alt="SDU logo" height="15px">
            <p>University of Southern Denmark — Course: Web Technologies</p>
        </section>
    </footer>

    <script src="~/js/filters.js"></script>
    <script src="~/js/sidebar.js"></script>
    <script src="~/js/logout.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>