<li class="card">
    your-image.jpg
    <article class="content">
        <h1>Game Title</h1>
        <p>This is a short description of the game.</p>
        <section class="button-container">
            <Span>Available</Span>
            <div style="display:flex; gap:12px">
                <button class="button button-primary">Edit</button>
                <button class="button button-primary">Borrow</button>
            </div>
        </section>
    </article>
</li>