<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/loginStyles.css" />
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="/Images/logo.png">
</head>

<body>
  <main class="login-card">

    <header>
      <h1>Log In</h1>
    </header>

    <form action="index.html" method="get">
      <input type="text" placeholder="Username" required />
      <input type="password" placeholder="Password" required />
      <button type="submit" class="button button-primary">Log In</button>
    </form>

  </main>
  <script src="js/loginValidation.js"></script>
</body>

</html>